
/* google fonts */
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

body {
	background-color: #000;
	margin: 0;
	padding: 0;	
}

#wrapper {
	background-color: #444;
	position: relative;

	/* size & centering */
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;

	/* text */
	color: #eee;
}

/* header */
.header {
	display: flex;
	flex-direction: column;
	background-color: #333;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	height: 120px;
}
.header div {
	
}

/* navbar */
.navbar {
	display: flex;
	background-color: #333;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}
.navbar a {
	color: white;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
}
.navbar a:hover {
	background-color: #ddd;
	color: black;
}

/* main, & left/right */
.main {
	display: flex;
	flex-wrap: wrap;
}
.main-left {
	flex: 30%;
}
.main-right {
	flex: 70%;
}

/* footer */
.footer {
	display: flex;
	flex-direction: column;
	background-color: #333;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	height: 120px;
}
.footer div {
	
}

@media screen and (max-width: 700px) {
	.main {   
		flex-direction: column;
	}
	.ldb-header {
		display: none !important;
	}
}

/* sidebar */
.game-info {
	margin: 12px;
}

/* thumbnails */
.thumb {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: middle;
	width: 18px; 
	height: 18px;
	background-size: contain !important;
	background-position: center !important;
}

/* platforms */
.thumb-gcn {
	background: url("https://vignette.wikia.nocookie.net/nintendo/images/2/2d/GamecubeLogo.png/revision/latest?cb=20180502055001&path-prefix=pl") no-repeat;
}
.thumb-dolphin {
	background: url("https://pbs.twimg.com/profile_images/571205490353270784/v-FDSByE.png") no-repeat;
}
.thumb-wii {
	background: url("https://d1u5p3l4wpay3k.cloudfront.net/zelda_gamepedia_en/thumb/b/b3/Wii_Console.png/1200px-Wii_Console.png") no-repeat;
}
/* proofs */
.thumb-youtube {
	background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_(2017).svg/60px-YouTube_full-color_icon_(2017).svg.png") no-repeat;
}
.thumb-twitch {
	background: url("https://i.imgur.com/kaRc9z1.png") no-repeat;
}


/* comments */
.thumb-comment {
	background: url("https://upload.wikimedia.org/wikipedia/commons/d/d5/Symbol_comment.png") no-repeat;
}

/* flags */
.thumb-flag-usa {
	background: url("https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/60px-Flag_of_the_United_States.svg.png") no-repeat;	
}
.thumb-flag-germany {
	background: url("https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/60px-Flag_of_Germany.svg.png") no-repeat;	
}
.thumb-flag-lebanon {
	background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/60px-Flag_of_Lebanon.svg.png") no-repeat;	
}

/* tooltip, position handled by jquery*/
.tooltip {
	display: none;
	position:absolute;
	width: 200px;
	padding: 12px;
	pointer-events: none;
	/******************/
	background-color: rgba(0,0,0,0.8);
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
	font-size: 14px;
	/******************/
	border-width: 4px;
	border-color: #eee;
    border-style: none;
    border-left: solid;
}

/* leaderboard table */
.ldb-table {
	display: table;  
	table-layout: auto;
	width: 100%;
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
	font-size: 16px;
	table-layout: auto
}
.ldb-row {
	display: table-row;
	width: auto;
	clear: both;
	line-height: 38px;
}
.ldb-col {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.ldb-header {
	font-size: 14px;
	font-weight: bold;
}
.ldb-player-name {
	text-align: left;
}
.ldb-comment-inner {
	cursor: help;
}
.ldb-comment-none {
	display: none;
}