<!DOCTYPE html>
 
<html lang="en">
 
<head>
    <title>Super Smash Brothers Leaderboard</title>
</head>
 
<body>
 
<div>
    <h1>Welcome to the Official Leaderboard for everything 1 player in Super Smash Brothers !</h1>
    <h2>Please select a game</h2>
    <p><a href="/leaderboards/ultimate/">Super Smash Bros. Ultimate</a></p>
    <p>Super Smash Bros. for Wii U</p>
    <p>Super Smash Bros. for 3DS</p>
    <p>Super Smash Bros. Brawl</p>
    <p><a href="/leaderboards/melee/">Super Smash Bros. Melee</a></p>
    <p>Super Smash Bros.</p>
 
</div>
 
</body>
     
</html>